
html, body{
	margin:0px;
	padding:0px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	position:relative;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size:16px;
	background-color:#FFFFFF;

}
main{padding-top: 70px;overflow: hidden;}

a:link, a:visited {
	text-decoration:none;
}



/* By Anash */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('/media/image-and-png/background\ hex.png');
    background-repeat: no-repeat;
    background-position: 20%;
    
}

.style2{
 display: block;
 margin-left: 43px;
 position: relative;
 top: 123px;

}

.fixed-top{
    top: -10px;
    transform: translateY(40px);
    transition: transform .3s
}

.top-side{
    margin-top: -29px;
}
.slide-set{
    width: 100%;
    height: 100%;
    position: relative;
    top: 133px;
}
.headerLogo{
    box-shadow: 1px 3px 12px black;
}
.headerLogo img{
    width: 113px;
    margin-left: 50px;
    overflow: auto;
    margin-top: 8px;
}

.fixed-top {
    top: -12px;
    transform: translateY(1px);
    transition: transform .3s;
}

/* header section */
#navbarNav ul li a:hover {
    color: #2fa3f6;
}

.navbar{
    position: fixed;
    width: 100%;
    margin-top: -15px;
}

.shadows {
    box-shadow: 2px 1px 12px black;
}

/* header section */
/* main-section */
#farm_img img{
    width: 100%;
    height: 55vw;
}

/* main-section */
/* footer section */
.dropdown:hover .dropdown-menu {
    display: block;
}

#set_footer {
    margin-top: 7vw;
    border-radius: 3px;
    height: 520px;
}

#set_footer img {
 display: block;
 margin: 0px  48px auto;
 justify-content: center;
 align-items: center;
}

.set-title-text{
    margin-top: 123px;
    text-align: center;
}

.list-style {
    margin-left: 47vw;
    margin-top: -52px;
    display: flex;
}

.set-margin {
    height: 12rem;
    width: 52%;
}

.list-inline li {
    color: #fff;
}

.sec-title .orange-line {
    width: 5px;
    height: 63px;
    background-color: #137E02;
    position: absolute;
    left: 590px;
    top: 48%;
}
.homestates{
    width: 18rem;
    height: 24vw;
}
.homestates img{
    margin-top: 12px;
}

.backround-change img{ 

width: 123px;
display: block;
margin: auto;
align-items: center;
justify-content: center;
margin-top: 12px;
}

.text-adjust{
 position: relative;
  left: -120px;
}
.text-adjust h4{
    font-size: 43px;
}
/* .backround-change :hover{
    background-color:rgb(42, 186, 230);
    color:rgb(2, 2, 2);
} */
.section-part{
    position: relative;
    display: block;
    padding: 120px 0px 120px;
    overflow: hidden;
    z-index: 1;
}
.backround-images{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
}

.background-filter {
    background-color: rgba(0, 0, 0, 0.6);
}

.background-change card{ 
    margin-top:43px;
    background-color: green; 
    color: #fff; 
    border-radius: 12px;
}


.homestats{transform: translateY(0px) scale(1.0);transition: ease all 0.6s;background-color: #137E02;border: 0px;}
.homestats:hover{transform: translateY(-10px) scale(1.0) !important;transition: ease all 0.6s !important;-webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);box-shadow: 0 14px 24px rgba(62,57,107,.2);    background: rgba(27,159,148,1);
    color: #fff;
    background: -moz-linear-gradient(left, rgba(27,159,148,1) 0%, rgb(17, 14, 14) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,159,148,1)), color-stop(100%, rgba(49,109,179,1)));
    background: -webkit-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: -ms-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: linear-gradient(to right, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b9f94', endColorstr='#316db3', GradientType=1 ); */
}
.homestats:hover h3{color:#FFF;}
/* .homestats:hover img{-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(5); filter: grayscale(100%) brightness(155%) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(5);} */
.homestats h3{color: #208e9e; margin: 1rem 0rem 0rem 0rem;font-size: 1.5rem;}
.homestats .card-text{font-size: 12px !important;font-weight: 400 !important;}
.homestats .card-thumb img{width: 200px;}
.homestats .card-thumb{min-height: 210px;}
.homestats .card-body p{font-size: 14px; font-weight: 600;}


.homestatsButton{transform: translateY(0px) scale(1.0);transition: ease all 0.6s;background-color: #FD8104;border: 0px;}
.homestatsButton:hover{transform: translateY(-10px) scale(1.0) !important;transition: ease all 0.6s !important;-webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);box-shadow: 0 14px 24px rgba(62,57,107,.2);    background: rgba(27,159,148,1);
    color: #fff;
    background: -moz-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27,159,148,1)), color-stop(100%, rgba(49,109,179,1)));
    background: -webkit-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: -o-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: -ms-linear-gradient(left, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    background: linear-gradient(to right, rgba(27,159,148,1) 0%, rgba(49,109,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b9f94', endColorstr='#316db3', GradientType=1 );}
.homestatsButton:hover h3{color:#FFF;}
.homestatsButton:hover img{-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(5); filter: grayscale(100%) brightness(155%) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(5);}
.homestatsButton h3{color: #208e9e; margin: 0.5rem 0rem 0rem 0rem;font-size: 0.75rem;}
.homestatsButton .card-text{font-size: 12px !important;font-weight: 120 !important;}
.homestatsButton .card-thumb img{width: 40px; height: 40px;}
.homestatsButton .card-thumb{min-height: 60px;}
.homestatsButton .card-body p{font-size: 10px; font-weight: 120;}



.card-text {
    text-align: center;
}

.card-title {
    text-align: center;
}

/* .text-content1{
    line-break: strict;
    word-wrap: none;
    overflow: hidden;

} */

.text-content1 {
    padding: 12px;
    font-size: 32px;
    margin-top: 53px ;
    margin-bottom: -53px;
    color: green;
 }
 
 /* .text-content2{
    line-break: strict;
    word-wrap: none;
    overflow: hidden;
 } */
 .text-content2 {
    font-weight: bold;
    font-size: 53px;
    margin-top: 53px ;
    text-align: center;
    display: block;
    
 }

 .text-content-bold{
    line-break: strict;
    word-wrap: none;
    overflow: hidden;
    font-weight: bolder;
    font-size: 2em;
    margin-top: 50px ;
    text-align: center;
    display: block;
 }

.text-content{
    line-break: strict;
    word-wrap: none;
    overflow: hidden;

}
.text-content h2{
font-size: 53px;
color:white;
font-weight: bold;
margin-top: 53px;

}
.text-content h3{
font-size: 53px;
color:white;
font-weight: bold;
margin-top: 53px;

}

.text-content h4{
    font-weight: 900;
    color:white;
    padding: 12px;
    font-size: 42px;
    margin-top: 153px ;
    margin-bottom: -53px;
 }
 
 .bg-gray{background:rgba(255, 255, 2550, 0)}
 /* .bgContactUs-gray{background:rgba(255, 255, 255, 0.678);} */
.paragraph-setting p{
    font-size: 43px;
    padding: 22px;
    color: white;
}

.social li:hover {
    color: #2fa3f6;
    transition: 1s;
}


.paragraph_set {text-align:justify; padding-top: 20px ; color: white;
}


/*Footer*/
.footerPanel2 h5{color: #FFF;
    line-height: 40px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;}
.footerPanel2 h5 a{color: #FFF;
    line-height: 30px;
    text-align: left;
    font-size: 18px;
        font-weight: 400;
    padding: 5px 0px;
    display: block;}
.footerPanel2 ul{min-height: 50px;}
.footerPanel2 li{display: block;text-align: left;}
.footerPanel2 a{color:#606060;font-size: 16px;}
.footerPanel2 a:hover{color:#2fa3f6}
.footerPanel2 h6{font-size: 1.5rem;padding: 6px 30px;text-align: center;}


.border-right-1{border-right: 1px solid #b5b5b5;}

.border-left-1{border-left: 1px solid #b5b5b5;}


#heading-style {
    font-size: 22px;
    margin-top: 19px;
    margin-left: -13px;
}

.list-item {
    font-size: 12px;
    line-height: 29px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.set-stylish {
    margin-left: 65px;
}

.footerBtmPanel{background:none;color:#fff;font-size:1rem;}

.ft-logo img{width: 250px;}

.list-item-footer{
    line-height: 35px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-weight:lighter;
    position: relative;
    top: 123px;
    margin-top: 123px;
    left: 23px;
}

.list-item-footer li a{
    text-decoration-line: none;
    color: white;
}

.list-item-footer li a:hover{
    color:#2fa3f6;
}


.copyright {
    float: left;
    margin-left: -1px;
    font-size: 12px;
    margin-top: 15px;
}

.copy-text{
 margin-top: 10px;
 margin-left: 23px;
}
.hr-line{
    margin-top: 423px;
}
.footer-bottom p {
    float: left;
    margin-left: -34px;
    font-size: 11px;
}


.footer-bottom a {
    color: #fff;
    text-decoration: none;

}


/* footer section */
/* 
slider */

.set-img {
    margin: 0px;
}

/* 
slider */

/* about page */
.container .change-color {
    color: #137E02;
}

.our-precense h1 {
    text-align: center;
    font-size: 37px;
    font-weight: 500;
}

.horizontal-line {
    display: block;
    width: 30%;
    background-color: #137E02;
    position: relative;
    margin-top: 3px;
    margin-bottom: 25px;
    margin-left: 35%;
}

.Agriculture-image img {
    margin-top: 21px;
    /* margin-left: 48px; */
    width: 100%;
    /* border: 4px solid #137E02; */
    height:37rem;
}

.border-shadow {
    display: inline-block;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow: hidden;
    box-shadow: 8px -3px 8px rgb(43, 39, 39);
}

.border-shadow:hover {
    transform: scale(0.9);
    cursor: pointer;
}

/* about page */

/* product & communitites page */




.green-border {
    /* width: 25%; */
    position: absolute;
    /* height: 25px; */
}
.green-border img{
    margin-top: 63px;
}

/* product & communitites page */

/* Edible oil and Non edible oil */

/* Edible oil and Non edible oil */

/* Bio fuel */


.bio-fuel-image{
    width: 200px;
    margin-left: -63px;
}

.bio-fuel1{
    margin-top: 90px;
    margin-left: -30px;
    font-size: 22px;
}
.bio-fuel1 li{
    padding: 12px;
}
.heading {
    border-left: 5px solid #137E02;
    font-size: 28px;
    /* color: #fff; */
    padding-left: 10px;
}
.section{padding:2rem 0;}
.section-paragraphLeft {
    font-size: 16px;
    text-align: justify;
    padding-left: 15px;
}

ul{
    list-style: none;
}

/* Bio fuel */
/* Metals */


/* Metals */

/* Metals */


/* CATTLEFEED & FERTILIZER */




/* CATTLEFEED & FERTILIZER */
.chemical-image{
    width: 200px;
    padding-top: 123px;
    margin-left: 33px;
}
.cattlefeed1{
    margin-top: 90px;
    margin-left: -30px;
    font-size: 25px;
}

.cattlefeed1 li {
    padding: 7px;
}

/* CATTLEFEED & FERTILIZER */

/* MINERALS & ORES */
.minerals-items{
    margin-top: 90px;
    margin-left: -30px;
    font-size: 22px;
    
}
.minerals-items li{
    padding: 4px;
}

/* MINERALS & ORES */

/* Building material chemical */
.building-material{
    margin-top: 90px;
    margin-left: -30px;
    font-size: 22px;
}
.building-material li{
    padding: 12px;
}

/* Building material chemical */
/* procedure */


.image-set1 img{
    width: 323px;
    position: relative;
    top: 73px;
    left: 12px;
    height: 423px;
    overflow:inherit;
}

.section-heading p{
    float: right;
    width: 623px;

}

.green-heading h4{
    text-align: center;
    font-size: 53px;
    font-weight: 900;
    color: rgba(164, 255, 29, 0.822);
}

 .color-grey h3 {
    font-size: 32px;
    font-weight: 900;
    color: rgba(128, 128, 128, 0.959);
    margin-top: 113px;
 }

 .image-set2 img{
    width: 153px;
    display: block;
    padding: -62px;
    position: relative;
    left: 13px;
    line-clamp:inherit;
    overflow: inherit;
    width: 223px;
    height: 223px;
 }

 .image-set3 img{
    width: 153px;
    display: block;
    padding: -62px;
    position: relative;
    left: 13px;
    line-clamp:inherit;
    overflow: inherit;
    width: 203px;
    height: 223px;
 }
/* procedure */

/* trading portfolio */
.trading-portfolio img{
    width: 100%;
}
 
.set-paragraph{
    /* margin-left: 110px;
    margin-right: 143px;
    text-align: justify; */
    height: 90%;
    width: 97%;
}

.color-white{
    font-size: 29px;
    font-weight:900;
    word-break: inherit;
    white-space: 12px;
}

.grey-color-style{
    font-size: 29px;
    color: rgb(128, 128, 128);
    font-weight: 900;
}

.images-background{
    background-image: url('/media/image-and-png/digital_background.png');
    background-size: cover;
    size: 100%;
    min-height: 60vw;
    height: 80vw;
    position: relative;
    width: 100%;
    display: block;
    transform: scale(-50% -50%);
}

.images-background h3{
    padding: 103px;
    font-size: 43px;
    font-weight: 900;
    color: white;
    line-height: 7%;
    overflow: inherit;
    word-wrap: normal;
}
.images-background h5{
    padding: 103px;
    font-size: 43px;
    color: rgb(25, 141, 236);
    font-weight: 900;
    overflow: inherit;
    word-wrap: normal;
    margin-top: -189px;
    
}
.Style-witdh{

    background-color: rgba(109, 109, 109, 0.932)
}
/* trading portfolio */

/* fuel page */
#fuel-paragraph1 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
}

#fuel-paragraph1 p{
    position: relative;
    left: 212px;
}

#fuel-paragraph2 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 55vw;
    margin-top: -323px;
}
#fuel-paragraph2 p{
    position: relative;
    left: 212px;
    margin-left: 623px;
    width: 423px;
}


#fuel-paragraph3 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}

#fuel-paragraph3 p{
    position: relative;
    left: 212px;
}

#fuel-paragraph4 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 60vw;
    margin-top: -323px;
}
#fuel-paragraph4 p{
    position: relative;
    left: 212px;
    margin-left: 700px;
    width: 423px;
}
#fuel-paragraph5 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}

#fuel-paragraph5 p{
    position: relative;
    left: 212px;
}

#fuel-paragraph6 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 60vw;
    margin-top: -350px;
}
#fuel-paragraph6 p{
    position: relative;
    left: 212px;
    margin-left: 700px;
    width: 423px;
}
#fuel-paragraph7 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}

#fuel-paragraph7 p{
    position: relative;
    left: 212px;
}

#fuel-paragraph8 h4 {
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}
#fuel-paragraph8 p{
    position: relative;
    left: 212px;
}

#fuel-paragraph9 h4 {
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}
#fuel-paragraph9 p{
    position: relative;
    left: 212px;
}
#fuel-paragraph9 h4 {
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}
#fuel-paragraph10 p{
    position: relative;
    left: 212px;
}
.horizontal-lines span{
    width: 10%;
    height: 13px;
    position: absolute;
    color: red;

}
.red-lines{
    width: 72px;
    height: 3px;
    position: absolute;
    left: 249px;
    top: 100%;
 background-color: rgb(224, 26, 26);
}

.red-lines1{
    width: 72px;
    height: 3px;
    position: absolute;
    left: 249px;
    top:70vw;
   background-color: rgb(224, 26, 26);
}

.red-lines2{
    width: 75px;
    height: 3px;
    position: absolute;
    left: 249px;
    top:92vw;
   background-color: rgb(224, 26, 26);
}

.red-lines3{
    width: 75px;
    height: 3px;
    position: absolute;
    left: 249px;
    top:126vw;
   background-color: rgb(224, 26, 26);
}

.red-lines4{
    width: 75px;
    height: 3px;
    position: absolute;
    left: 249px;
    top:111vw;
   background-color: rgb(224, 26, 26);
}

.red-lines5{
    width: 75px;
    height: 3px;
    position: absolute;
    left: 739px;
    top:111vw;
   background-color: rgb(224, 26, 26);
}
/* fuel page */
.contact-us{
   margin-top: 10%;
  width: 60%;
  position: relative;
  border-radius: 0;
}
.contact-row{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
    top:30px;
}
.contact-col{
    padding: 20px;
    background-color:#fff;
}
.contact-col input{
    width: 82%;
}

.contact-col input{
    width: 82%;
    border: 1px solid black;
}

.contact-col textarea{
    border: 1px solid black;
    width: 82%;
}
.contact-set{
padding: 20px;
color:white;
}
.form-control{
    height: 52px;
    background-color: #ffff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    box-sizing: none;
    border:  1px solid rgba(0, 0, 0, 0.1);
}
.bi{
    font-size: 23px;
    padding: 12px;
    margin-top: 22px;

}
.font-styelish p {
    font-size: 20px;
    padding: 12px;
    margin-top: 22px;
    padding-left: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

