* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('/media/image-and-png/backgroundimg.png');
    background-repeat: no-repeat;
    background-position: 20%;
    ;
}

.style2{
 display: block;
 margin-left: 43px;
 position: relative;
 top: 123px;

}

.sec-title_tagline h5{
    font-size: 30px;
    margin-bottom: 23px;
    overflow: hidden;
    position: relative;
    left: 100px;
    color: #137E02;
}

.sec-title_title{
    font-size:40px;
    width: 493px;
    font-weight: 700;
    margin-top: 22px;
    position: relative;
    left: 100px;
}
.top-side{
    margin-top: -29px;
}
.slide-set{
    width: 100%;
    height: 100%;
    position: relative;
    top: 133px;
}

.headerLogo img{
    width: 113px;
    margin-left: 50px;
    overflow: auto;
    margin-top: 8px;
}

.fixed-top {
    top: -12px;
    transform: translateY(1px);
    transition: transform .3s;
}

/* header section */
#navbarNav ul li a:hover {
    color: #137E02;
}

.navbar{
    position: fixed;
    width: 100%;
}

.shadows {
    box-shadow: 2px 1px 12px black;
}

/* header section */
/* main-section */
#farm_img img{
    width: 100%;
    height: 55vw;
}

/* main-section */
/* footer section */
.dropdown:hover .dropdown-menu {
    display: block;
}

#set_footer {
    margin-top: 7vw;
    border-radius: 3px;
    height: 520px;
}

#set_footer img {
 display: block;
 margin: 0px  48px auto;
 justify-content: center;
 align-items: center;
}

.image_set img{

}

.list-style {
    margin-left: 47vw;
    margin-top: -52px;
    display: flex;
}

.set-margin {
    height: 12rem;
    width: 52%;
}

.list-inline li {
    color: #fff;
}

.sec-title .orange-line {
    width: 5px;
    height: 63px;
    background-color: #137E02;
    position: absolute;
    left: 590px;
    top: 48%;
}
.homestates{
    width: 18rem;
    height: 24vw;
}
.homestates img{
    margin-top: 12px;
}

.backround-change img{ 

width: 123px;
display: block;
margin: auto;
align-items: center;
justify-content: center;
margin-top: 12px;
}

.inner-image{
    overflow:inherit;
}
.inner-image img{
    margin-top: 123px;
    width: 423px;
    border-radius: 12px;
    max-width: 100%;
    transition: all 0.5s ease;
}
.inner-image:hover img{
    transform: scale(1.1);
}

.outer-image{
    display: inline;
    z-index: 100;
    margin-top: -23px;
    margin: auto;  
    position: relative;
    left: 172px;
    top: -42px;
  
}
.outer-image img{
    visibility: visible;
    animation-duration: 35000ms;
    animation-delay: 100ms;
    animation-name: zoom in;
}

.text-adjust{
 position: relative;
  left: -120px;
}
.text-adjust h4{
    font-size: 43px;
}
/* .backround-change :hover{
    background-color:rgb(42, 186, 230);
    color:rgb(2, 2, 2);
} */


.text-content{
    line-break: strict;
    word-wrap: none;
    overflow: hidden;

}
.text-content h6{
font-size: 32px;
}

.text-content h4{
    font-weight: 900;
    color: black;
    padding: 12px;
    font-size: 42px;
    margin-top: 73px ;
    margin-bottom: -53px;
 }
 .bg-gray{background:#ffffff;}
.paragraph-setting p{
    font-size: 43px;
    padding: 22px;
    color: white;
}

.social li:hover {
    color: #137E02;
    transition: 1s;
}

#image_set {
    margin-left: -103px;
}

.paragraph_set {
    font-size: 20px;
    margin-left: -18px;
    text-align: justify;
     width: 284px;
     font-weight: lighter;
     display: block;
}

#heading-style {
    font-size: 22px;
    margin-top: 19px;
    margin-left: -13px;
}

.list-item {
    font-size: 12px;
    line-height: 29px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.set-stylish {
    margin-left: 65px;
}

.list-item-footer{
    line-height: 35px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-weight:lighter;
    position: relative;
    top: 12px;
}

.list-item-footer li a{
    text-decoration-line: none;
    color: white;
}


.copyright {
    float: left;
    margin-left: -1px;
    font-size: 12px;
    margin-top: 15px;
}

.footer-bottom p {
    float: left;
    margin-left: -34px;
    font-size: 11px;
}


.footer-bottom a {
    color: #fff;
    text-decoration: none;

}


/* footer section */
/* 
slider */

.set-img {
    margin: 0px;
}

/* 
slider */

/* about page */
.container .change-color {
    color: #137E02;
}

.our-precense h1 {
    text-align: center;
    font-size: 37px;
    font-weight: 500;
}

.horizontal-line {
    display: block;
    width: 30%;
    background-color: #137E02;
    position: relative;
    margin-top: 3px;
    margin-bottom: 25px;
    margin-left: 35%;
}

.Agriculture-image img {
    margin-top: 21px;
    /* margin-left: 48px; */
    width: 100%;
    /* border: 4px solid #137E02; */
    height: 24rem;
}

.border-shadow {
    display: inline-block;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow: hidden;
    box-shadow: 8px -3px 8px rgb(43, 39, 39);
}

.border-shadow:hover {
    transform: scale(0.9);
    cursor: pointer;
}

/* about page */

/* product & communitites page */




.green-border {
    /* width: 25%; */
    position: absolute;
    /* height: 25px; */
}

/* product & communitites page */

/* Edible oil and Non edible oil */

/* Edible oil and Non edible oil */

/* Bio fuel */


.bio-fuel-image{
    width: 200px;
    margin-left: -63px;
}

.heading {
    border-left: 5px solid #137E02;
    font-size: 28px;
    /* color: #fff; */
    padding-left: 10px;
}
.section{padding:2rem 0;}
.section-paragraphLeft {
    font-size: 16px;
    text-align: justify;
    padding-left: 15px;
}

ul{
    list-style: none;
}
.navmenu
{
    position: absolute;
    top: 22%;
    transform: translateY(-40%);
    display: block;
    overflow-x: inherit;
    overflow-y: inherit;
    margin-bottom:123px;

 
}

.navmenu ul {
    padding-left: 180px;
    position: relative;
}

.navmenu ul::after{
    content: "";
    position: absolute;
    width: 3px;
    height: calc(85% - 40px);
    left: 170px;
    top: 0;
    background-color: green;
    z-index: -1;
    margin-top: 29px;
}

.navmenu ul li{
    padding: 17px 0;
    padding-left: 20px;
}
.navmenu ul li a
{
    text-decoration: none;
    position: relative;
    font-size: 1.5rem;
    line-height: 1rem;
    font-size: 500;
    color: black;
    font-size: 20px;
}

.navmenu ul li a::before{
    content: "";
    position: absolute;
    background: green;
    width: 10px;
    height: 10px;
    left: -34px;
    top: 40%;
    transform: translateY(-50%);
    border-radius: 50px;
}

.navmenu ul li a.active{
    font-weight: 500px;
}

.navmenu ul li a.active::before{
    background: green;
}
/* Bio fuel */
/* Metals */


/* Metals */

/* Metals */


/* CATTLEFEED & FERTILIZER */




/* CATTLEFEED & FERTILIZER */
.chemical-image{
    width: 200px;
    padding-top: 123px;
    margin-left: 33px;
}

.navmenu1
{
    position: absolute;
    top: 22%;
    transform: translateY(-40%);
    display: block;
    overflow-x: inherit;
    overflow-y: inherit;
    margin-bottom:123px;

 
}

.navmenu1 ul {
    padding-left: 340px;
    position: relative;
}

.navmenu1 ul::after{
    content: "";
    position: absolute;
    width: 3px;
    height: calc(95% - 40px);
    left: 330px;
    top: 0;
    background-color: green;
    z-index: -1;
    margin-top: 29px;
}

.navmenu1 ul li{
    padding: 17px 0;
    padding-left: 20px;
}
.navmenu1 ul li a
{
    text-decoration: none;
    position: relative;
    font-size: 1.5rem;
    line-height: 1rem;
    font-size: 500;
    color: black;
    font-size: 15px;
}

.navmenu1 ul li a::before{
    content: "";
    position: absolute;
    background: green;
    width: 10px;
    height: 10px;
    left: -34px;
    top: 40%;
    transform: translateY(-50%);
    border-radius: 50px;
}

.navmenu1 ul li a.active{
    font-weight: 500px;
}

.navmenu1 ul li a.active::before{
    background: green;
}




.chemical-image{
    width: 200px;
    padding-top: 123px;
    margin-left: 33px;
}

.navmenu2
{
    position: absolute;
    top: 22%;
    transform: translateY(-40%);
    display: block;
    overflow-x: inherit;
    overflow-y: inherit;
    margin-bottom:123px;

 
}

.navmenu2 ul {
    padding-left: 340px;
    position: relative;
}

/* .navmenu2 ul::after{
    content: "";
    position: absolute;
    width: 3px;
    height: calc(95% - 40px);
    left: 330px;
    top: 0;
    background-color: green;
    z-index: -1;
    margin-top: 29px;
} */

.cattlefeed-image {
    width: 200px;
    padding-top: 123px;
    margin-left: 33px;
}
.navmenu2 ul li{
    padding: 17px 0;
    padding-left: 0px;
}
.navmenu2 ul li a
{
    text-decoration: none;
    position: relative;
    font-size: 1.5rem;
    line-height: 1rem;
    font-size: 500;
    color: black;
    font-size: 15px;
}

.navmenu2 ul li a::before{
    content: "";
    position: absolute;
    background: green;
    width: 10px;
    height: 10px;
    left: -24px;
    top: 10%;
    transform: translateY(-50%);
    border-radius: 50px;
}

.navmenu2 ul li a.active{
    font-weight: 500px;
}

.navmenu2 ul li a.active::before{
    background: green;
}
/* CATTLEFEED & FERTILIZER */

/* MINERALS & ORES */
.green-lines5 {
    display: block;
    width: 13%;
    background-color: rgb(0, 133, 0);
    position: relative;
    margin-top: 3px;
    margin-bottom: 25px;
    margin-left: 7%;
}
.bio-fuel img{
    width: 162px;
}
.ul-items{
    font-size: 20px;
    padding-left: 98px;
}
.ul-items i{
    font-size: 123px;
}


.bio-fuel2 img{
    width: 163px;
}

/* MINERALS & ORES */

/* Building material chemical */
.green-lines6 {
    display: block;
    width: 19%;
    background-color: rgb(0, 133, 0);
    position: relative;
    margin-top: 3px;
    margin-bottom: 25px;
    margin-left: 7%;
}
.bio-fuel3 img{
   width: 123px;
   height: 123px;
   margin-top:50px;
}
.bio-fuel4 img{
    width: 140px;
    height: 123px;
    margin-top: 85px
}
.paragraph-set1 p{
    margin: auto;
    padding-left: 32px;
}
/* .flower-img4{
      position: absolute;
      left: 973px;
} */

/* Building material chemical */
/* procedure */


.image-set1 img{
    width: 323px;
    position: relative;
    top: 73px;
    left: 12px;
    height: 423px;
    overflow:inherit;
}

.section-heading p{
    float: right;
    width: 623px;

}

.green-heading h4{
    text-align: center;
    font-size: 53px;
    font-weight: 900;
    color: rgba(164, 255, 29, 0.822);
}

 .color-grey h3 {
    font-size: 32px;
    font-weight: 900;
    color: rgba(128, 128, 128, 0.959);
 }

 .image-set2 img{
    width: 153px;
    display: block;
    padding: -62px;
    position: relative;
    left: 13px;
    line-clamp:inherit;
    overflow: inherit;
    width: 223px;
    height: 223px;
 }

 .image-set3 img{
    width: 153px;
    display: block;
    padding: -62px;
    position: relative;
    left: 13px;
    line-clamp:inherit;
    overflow: inherit;
    width: 223px;
    height: 223px;
 }
/* procedure */

/* trading portfolio */
.trading-portfolio img{
    width: 100%;
}
 
.set-paragraph{
    /* margin-left: 110px;
    margin-right: 143px;
    text-align: justify; */
    height: 90%;
    width: 97%;
}

.color-white{
    font-size: 29px;
    font-weight:900;
    word-break: inherit;
    white-space: 12px;
}

.grey-color-style{
    font-size: 29px;
    color: rgb(128, 128, 128);
    font-weight: 900;
}

.images-background{
    background-image: url('/media/image-and-png/digital_background.png');
    background-size: cover;
    size: 100%;
    min-height: 60vw;
    height: 80vw;
    position: relative;
    width: 100%;
    display: block;
    transform: scale(-50% -50%);
}

.images-background h3{
    padding: 103px;
    font-size: 43px;
    font-weight: 900;
    color: white;
    line-height: 7%;
    overflow: inherit;
    word-wrap: normal;
}
.images-background h5{
    padding: 103px;
    font-size: 43px;
    color: rgb(25, 141, 236);
    font-weight: 900;
    overflow: inherit;
    word-wrap: normal;
    margin-top: -189px;
    
}
.Style-witdh{

    background-color: rgba(109, 109, 109, 0.932)
}
/* trading portfolio */

/* fuel page */
#fuel-paragraph1 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
}

#fuel-paragraph1 p{
    position: relative;
    left: 212px;
}

#fuel-paragraph2 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 55vw;
    margin-top: -323px;
}
#fuel-paragraph2 p{
    position: relative;
    left: 212px;
    margin-left: 623px;
    width: 423px;
}


#fuel-paragraph3 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}

#fuel-paragraph3 p{
    position: relative;
    left: 212px;
}

#fuel-paragraph4 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 60vw;
    margin-top: -323px;
}
#fuel-paragraph4 p{
    position: relative;
    left: 212px;
    margin-left: 700px;
    width: 423px;
}
#fuel-paragraph5 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}

#fuel-paragraph5 p{
    position: relative;
    left: 212px;
}

#fuel-paragraph6 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 60vw;
    margin-top: -350px;
}
#fuel-paragraph6 p{
    position: relative;
    left: 212px;
    margin-left: 700px;
    width: 423px;
}
#fuel-paragraph7 h4{
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}

#fuel-paragraph7 p{
    position: relative;
    left: 212px;
}

#fuel-paragraph8 h4 {
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}
#fuel-paragraph8 p{
    position: relative;
    left: 212px;
}

#fuel-paragraph9 h4 {
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}
#fuel-paragraph9 p{
    position: relative;
    left: 212px;
}
#fuel-paragraph9 h4 {
    color: gray;
    font-weight: 900;
    line-height: 23px;
    margin-left: 213px;
    margin-top: -123px;
}
#fuel-paragraph10 p{
    position: relative;
    left: 212px;
}
.horizontal-lines span{
    width: 10%;
    height: 13px;
    position: absolute;
    color: red;

}
.red-lines{
    width: 72px;
    height: 3px;
    position: absolute;
    left: 249px;
    top: 100%;
 background-color: rgb(224, 26, 26);
}

.red-lines1{
    width: 72px;
    height: 3px;
    position: absolute;
    left: 249px;
    top:70vw;
   background-color: rgb(224, 26, 26);
}

.red-lines2{
    width: 75px;
    height: 3px;
    position: absolute;
    left: 249px;
    top:92vw;
   background-color: rgb(224, 26, 26);
}

.red-lines3{
    width: 75px;
    height: 3px;
    position: absolute;
    left: 249px;
    top:126vw;
   background-color: rgb(224, 26, 26);
}

.red-lines4{
    width: 75px;
    height: 3px;
    position: absolute;
    left: 249px;
    top:111vw;
   background-color: rgb(224, 26, 26);
}

.red-lines5{
    width: 75px;
    height: 3px;
    position: absolute;
    left: 739px;
    top:111vw;
   background-color: rgb(224, 26, 26);
}
/* fuel page */